<header class="container__header-employers">
    <h2 class="header-employers__title">Funcionários</h2>
    <a class="button-pattern" (click)="registerEmployerActive()">Adicionar funcionario</a>
</header>

<table class="container__table">
    <thead class="table__header">
        <th class="header__title">Nome</th>
        <th class="header__title">Email</th>
        <th class="header__title">Cargo</th>
        <th class="header__title">Coordenador</th>
        <th class="header__title">Status</th>
        <th class="header__title">Ação</th>
    </thead>
    <tbody class="table__body">
        <tr class="body__item" *ngFor="let employer of employers">
            <td>{{ employer.name }}</td>
            <td>{{ employer.email }}</td>
            <td>{{ employer.rule }}</td>
            <td>{{ employer.coordinator }}</td>
            <td>{{ employer.status == true ? 'Ativo' : 'Não ativo' }}</td>
            <td>
                <a class="action-icon"><i class="far fa-edit"></i></a>
                <a class="action-icon" (click)="deleteEmployer(employer.id)"><i class="far fa-trash-alt"></i></a>
            </td>
        </tr>
    </tbody>
</table>

<confirmation-modal [hidden]="hiddenModal" (confirmStatus)="confirmationStatus($event)"></confirmation-modal>