menu {
    width: 18rem;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #2b2f33;
}

search-bar {
    width: 80%;
    height: 5rem;
    border-radius: 10px;
    background-color: #2b2f33;
    position: absolute;
    top: 1rem;
    left: 20rem;
}

table-content {
    box-sizing: border-box;
    width: 80%;
    height: 80%;
    margin: 0 auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 75%;
    left: 93%;
    transform: translate(-93%, -75%);
}