menu {
    width: 18rem;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #2b2f33;
}

search-bar {
    width: 80%;
    height: 5rem;
    border-radius: 10px;
    background-color: #2b2f33;
    position: absolute;
    top: 1rem;
    left: 20rem;
}