<nav class="menu">
    <img src="assets/img/logo-brq.png" alt="" class="menu-logo">
    <ul class="menu__list">
        <a href="" class="menu__list__link">
            <li><i class="fas fa-home"></i>Inicio</li>
        </a>
         <a href="" class="menu__list__link">
            <li><i class="fas fa-list"></i>Atividades</li>
        </a>
         <a href="" class="menu__list__link">
            <li><i class="fas fa-user"></i>Funcionários</li>
        </a>
         <a href="" class="menu__list__link">
            <li><i class="fas fa-calendar-alt"></i>Celendário</li>
        </a>
         <a href="" class="menu__list__link">
            <li><i class="fab fa-think-peaks"></i>Estáticas</li>
        </a>
         <a href="" class="menu__list__link">
            <li><i class="fas fa-cog"></i>Configurações</li>
        </a>
    </ul>
</nav>